.video {
    position: relative;
    &::before {
        content: "";
        display: block;
        width: 100px;
        height: 100px;
        background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_17_175' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='100' height='100'%3E%3Crect width='100' height='100' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_17_175)'%3E%3Cpath d='M39.8958 68.125L68.125 50L39.8958 31.875V68.125ZM50 90.625C44.3815 90.625 39.1014 89.5568 34.1599 87.4205C29.2183 85.2842 24.9198 82.3849 21.2644 78.7226C17.609 75.0603 14.7135 70.7609 12.5781 65.8243C10.4427 60.8876 9.375 55.6128 9.375 50C9.375 44.3815 10.4432 39.1014 12.5795 34.1599C14.7158 29.2183 17.6151 24.9198 21.2774 21.2644C24.9397 17.609 29.2391 14.7135 34.1757 12.5781C39.1124 10.4427 44.3871 9.375 50 9.375C55.6185 9.375 60.8986 10.4432 65.8401 12.5795C70.7817 14.7158 75.0802 17.6151 78.7356 21.2774C82.391 24.9397 85.2865 29.2391 87.4219 34.1757C89.5573 39.1124 90.625 44.3871 90.625 50C90.625 55.6185 89.5568 60.8986 87.4205 65.8401C85.2842 70.7817 82.3849 75.0802 78.7226 78.7356C75.0603 82.391 70.7609 85.2865 65.8243 87.4219C60.8876 89.5573 55.6128 90.625 50 90.625Z' fill='%23ACACAC'/%3E%3C/g%3E%3C/svg%3E%0A");
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .video__container {
        img {
            width: 100%;
        }
    }
}